@keyframes fadeInRight {
  0% {
    transform: translateX(40%);
    opacity: 0.3;
  } 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-40%);
    opacity: 0.3;
  } 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadeInRight {
  animation: fadeInRight 0.5s ease;
}

.fadeInLeft {
  animation: fadeInLeft 0.5s ease;
}
