//Colors
$defaultBlack: #000;
$defaultWhite: #fff;
$cream: #F6F2EE;
$black: #232020;
$titleBlack: #1C1A1A;
$orange: #D48A5C;
$grey: #5C5C5C;

//Fonts
$primary: 'Open Sans';
$secondary: 'Zcool Xiaowei';