@import "null", "fonts", "vars", "iconstyle";

body {
  font-family: $primary;
  background-color: $cream;
  color: $defaultBlack;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  padding: 45px 15px;
  &__inner {
    display: flex;
    align-items: center;
  }

  &__menu {
    flex: 1 1 auto;
    margin-right: 50px;
  }

  &__logo {
    position: absolute;
    top: 35px;
    left: 50vw;
    transform: translateX(-50%);
    img {
      max-width: 100%;
    }
  }

  &__search {
    font-size: 24px;
    color: $defaultBlack;
    background-color: transparent;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  &__section {
    display: flex;
    gap: 40px;
  }

  &__item {
    font-size: 16px;
    line-height: calc(26 / 16 * 100%);
    color: $defaultBlack;
    font-family: $mont;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  span {
    width: 27px;
    height: 2px;
    background-color: $defaultBlack;
  }
}


@import "media";