@import "null", "fonts", "vars", "iconstyle";

body {
  font-family: $primary;
  background-color: $cream;
  color: $defaultBlack;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 55px;
  line-height: calc(65 / 55 * 100%);
  font-family: $secondary;
  color: $defaultBlack;
  text-transform: capitalize;
}

.text {
  font-size: 16px;
  line-height: calc(26 / 16 * 100%);
  color: #141313;
}

.btn {
  font-size: 16px;
  line-height: calc(26 / 16 * 100%);
  background-color: $black;
  color: $defaultWhite;
  padding: 10px 13px;
  text-transform: capitalize;
  border: 1px solid $defaultBlack;
  transition: all 0.3s;
  &:hover {
    background-color: $defaultWhite;
    color: $defaultBlack;
  }
}

.header {
  padding: 45px 15px;
  &__inner {
    display: flex;
    align-items: center;
  }

  &__menu {
    flex: 1 1 auto;
    margin-right: 50px;
  }

  &__logo {
    position: absolute;
    top: 35px;
    left: 50vw;
    transform: translateX(-50%);
    img {
      max-width: 100%;
    }
  }

  &__search {
    font-size: 24px;
    color: $defaultBlack;
    background-color: transparent;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  &__section {
    display: flex;
    gap: 40px;
  }

  &__item {
    font-size: 16px;
    line-height: calc(26 / 16 * 100%);
    color: $defaultBlack;
    font-family: $mont;
    position: relative;
    &::after {
      content: '';
      display: block;
      transform: scale(0);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        position: absolute;
        transform: scale(1);
        width: 100%;
        height: 1px;
        background-color: $defaultBlack;
        bottom: -2px;
      }
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  span {
    width: 27px;
    height: 2px;
    background-color: $defaultBlack;
  }
}

.intro {
  padding-top: 60px;
  margin-bottom: 100px;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 0 1 646px;
  }

  &__title {
    font-size: 45px;
    line-height: calc(70 / 45 * 100%);
    font-family: $secondary;
    margin-bottom: 33px;
  }

  &__text {
    font-size: 18px;
    line-height: calc(30 / 18 * 100%);
    color: #404040;
    max-width: 500px;
    margin-bottom: 55px;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    * {
      padding: 5px 13px;
      font-size: 16px;
      line-height: calc(30 / 16 * 100%);
    }
  }

  // &__explore {}

  &__read {
    color: $defaultBlack;
    border: 1px solid $orange;
    transition: all 0.3s;
    &:hover {
      color: $defaultWhite;
      background-color: $orange;
    }
  }

  &__img {
    position: absolute;
    width: 477px;
    height: 506px;
    right: 0;
    z-index: -1;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.presentation {
  margin-bottom: 81px;
  &__inner {
    display: flex;
    justify-content: space-evenly;
    gap: 23px;
    flex-wrap: wrap;
  }

  &__block {
    flex: 0 1 354px;
    height: 256px;
    background-color: $orange;
  }
}

.presentation-block {
  height: 100%;
  position: relative;
  transform: translate(16px, -13px);
  &__info {
    text-transform: capitalize;
    font-size: 14px;
    font-family: $secondary;
    line-height: calc(16 / 14 * 100%);
    max-width: 200px;
    background-color: #EAB665;
    padding: 16px 16px 32px 16px;
    border-bottom-right-radius: 50%;
  }

  &__num {
    color: $defaultWhite;
  }

  &__title {
    color: $black;
  }

  &__img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__text {
    max-width: 195px;
    position: absolute;
    left: 16px;
    bottom: 32px;
    font-size: 10px;
    line-height: calc(10 / 10 * 100%);
    color: $defaultWhite;
  }
}

.roasted {
  margin-bottom: 81px;
  &__inner {
    padding: clamp(100px, 30%, 252px) 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  &__title {
    text-align: center;
  }

  &__text {
    max-width: 671px;
    text-align: center;
  }

  &__btn {
    padding: 12px 20px;
  }
}

.popular {
  margin-bottom: 81px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    margin-bottom: 14px;
  }

  &__title {
    margin-bottom: 47px;
    text-align: center;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
    column-gap: 50px;
  }
}

.popular-item {
  display: grid; //to maintain the same height for elems
  position: relative;
  &__img {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &__content {
    display: grid;
    border: 3px solid #414141;
    padding: 20px 25px;
    padding-left: 110px;
    grid-template-rows: repeat(2, auto);
    margin-left: 60px;
  }

  &__title {
    font-family: $secondary;
    font-size: clamp(25px, 3vw, 30px);
    line-height: calc(35 / 30 * 100%);
    color: $defaultBlack;
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(26 / 20 * 100%);
    color: $orange;
    text-align: right;
  }
}

.machine {
  margin-bottom: 81px;
  height: 674px;
  background-color: $defaultWhite;
  .container {
    height: 100%;
  }
  &__inner {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__content {
    flex: 0 1 676px;
    position: relative;
    z-index: 5;
  }

  &__title {
    margin-bottom: 34px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 33px;
  }

  // &__btn {}

  &__img {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    z-index: 0;
  }
}

.best {
  margin-bottom: 80px;
  &__inner {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
      "title btn"
      "products products";
    row-gap: 54px;
    align-items: center;
  }

  &__title {
    grid-area: title;
  }

  &__btn {
    grid-area: btn;
  }

  &__products {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 350px));
    gap: 20px;
    justify-content: space-between;
  }
}

.best-product {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  align-items: start;
  background-color: $defaultWhite;
  &__img {
    margin-bottom: 31px;
    img {
      max-width: 100%;
      // height: 100%;
      object-fit: cover;
    }
  }

  &__rating {
    span {
      color: $orange;
    }
    margin-bottom: 7px;
  }

  &__title {
    font-family: $secondary;
    font-size: 24px;
    line-height: calc(34/ 24 * 100%);
    color: $defaultBlack;
    margin-bottom: 13px;
  }

  &__price {
    span {
      color: $orange;
    }
  }
}

.slider {
  margin-bottom: 80px;
  &__inner {
    position: relative;
  }

  &__btn {
    display: block;
    padding: 4px 22px;
    margin: 0 auto;
    margin-bottom: 34px;
  }

  // &__slides {}

  &__prev, &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: 1px solid $orange;
    border-radius: 50%;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 1px;
      background-color: $orange;
      left: 22px;
    }
    &::before {
      top: 19px;
      transform:  translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
      top: 29px;
      transform:  translate(-50%, -50%) rotate(-135deg);
    }
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
    &::before {
      left: 26px;
      transform:  translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      left: 26px;
      transform:  translate(-50%, -50%) rotate(135deg);
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-bottom: 31px;
    text-align: center;
  }

  &__text {
    color: $grey;
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    max-width: 762px;
    text-align: center;
    margin-bottom: 39px;
  }

  &__prof-pic {
    margin-bottom: 8px;
    img {
      border-radius: 50%;
    }
  }

  // &__author {}
}

.reservation {
  margin-bottom: 80px;
  &__inner {
    display: flex;
  }

  &__img {
    position: relative;
    flex: 0 1 587px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__form {
    flex: 1 0 auto;
  }
}

.reservation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 80px;
  background-color: $defaultWhite;
  &__subtitle {
    font-size: 14px;
    line-height: calc(26 / 14 * 100%);
    color: $orange;
    margin-bottom: 10px;
  }

  &__title {
    text-align: center;
    font-size: 29px;
    line-height: calc(35 / 29 * 100%);
    color: $black;
    margin-bottom: 21px;
  }

  input {
    padding: 18px;
    width: 100%;
    min-width: 250px;
    background-color: #F4F1EE;
    color: $defaultBlack;
    font-size: 14px;
    line-height: calc(26 / 14 * 100%);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &::placeholder {
      color: $grey;
    }
  }

  &__amount {
    background: url('../img/icons/notebook.svg') 95% center no-repeat;
  }

  &__date {
    background: url('../img/icons/calendar.svg') 95% center no-repeat;
  }

  &__email {
    background: url('../img/icons/email.svg') 95% center no-repeat;
  }

  &__btn {
    margin-top: 21px;
    padding: 3px 22px;
  }
}

@import "media";